In [3]:
# conditional statement
n=int(input())
sum=10
while(n):
    remainder=n%2
    print(remainder)
    sum +=remainder
    print(sum)
    n//=2
#print("n",n)

1
1
11

In [18]:
li=(1,2,3,4,5,6)
for i in li:
    print (i)

1
2
3
4
5
6

In [20]:
i=int(input("enter a number= "))
count=0
while i!=0:
    i=i//10
    print(i)
    count+=1
print(count)

enter a number= 1245
124
12
1
0
4

In [31]:
k=(input("enter a number= "))
count=0
for i in k:
    print(k)
    count+=1
print(count)

enter a number= 1456
1456
1456
1456
1456
4

In [14]:
n = int(input())
sum = 10
while(n):
  remainder=n%2
  print(remainder)
  sum +=remainder
  print(sum)
  n//=2
print("n",n)

10
0
10
1
11
0
11
1
12
n 0

In [4]:
a=22
b=34
print("A") if a>b else print("B")

B

In [5]:
num=3
if num>0:
    print (num, "is a positive number.")
print("number was greater than 0")

3 is a positive number.
number was greater than 0

In [8]:
riya=10
if riya<15:
    print("riya is younger, she can play")
else:
    print("riya is elder")
print("children's ground")

riya is younger, she can play
children's ground

In [73]:
num1=int(input("enter first number="))
num2=int(input("enter second number="))
num3=int(input("enter third number="))
num4=int(input("enter fourth number="))
print("which operation you wanna perform")
print("1. Addition")
print("2. subtraction")
print("3. multiplication")
print("4. division")
option=int(input("enter the number: "))
if option==1:
    print("addition of", num1,"+",num2,"=",num1+num2+num3+num4)
elif option==2:
    print("substraction of", num1,"-",num2,"-",num3,"-",num4,"=",num1-num2-num3-num4)
elif option==3:
    print("multiplication of", num1,"*",num2,"*",num3,"*", num4,"=",num1*num2*num3*num4)
elif option==4:
    print("division of", num1,"/", num2,"/",num3,"/",num4,"=", num2/num2/num3/num4)
else :
    print("wrong number")
print("ok")

enter first number=4
enter second number=41
enter third number=55
enter fourth number=12
which operation you wanna perform
1. Addition
2. subtraction
3. multiplication
4. division
enter the number: 4
division of 4 / 41 / 55 / 12 = 0.0015151515151515152
ok

In [25]:

i = 10
if (i == 10): 
    print ("i is 10") 
elif (i == 15): 
    print ("i is 15") 
elif (i == 20): 
    print ("i is 20") 
else:   
    print ("i is not present")

i is 10

In [29]:
#wrong output
b
i = 11
j=12
k=13
m=30
if (m<100 & m>75): 
	# First if statement 
	print("i is largest")
elif (m>60 & m<75): 
	# First if statement 
    print("k is largest")
elif (m>70 & m<60): 
    print("j is largest")
else: 
    print ("wbrong number")

k is largest

In [41]:
#HW
age=15
if age<=10:
    print("person is a child")
else:
    print("person is a adult")

person is a adult

In [45]:
#operator
#Create a program to calcuate with 3 numbers - i.e add, subtract, multiply, divison, reminder, power
a=10
b=20
c=30
d=a+b+c
print(d)

60

In [47]:
a=10
b=20
c=30
d=a-b-c
print(d)

-40

In [48]:
a=10
b=20
c=30
d=a*b*c
print(d)

6000

In [49]:
a=10
b=20
c=30
d=a/b/c
print(d)

0.016666666666666666

In [50]:
a=10
b=20
c=30
d=a%b%c
print(d)

10

In [ ]:
a=10
b=20
c=30
d=a+c
print(d)

In [ ]:
a=10
b=20
c=30
d=a//c
print(d)

In [ ]:
i=1
while i<=20
  print(i)
  i=i+1

In [ ]:
a=10
b=20
c=30
d=a+c
print(d)

In [32]:
for i in range (1000,-1):
    print(i)

In [51]:
for i in range (1000,0,-100):
    print(i)

1000
900
800
700
600
500
400
300
200
100

In [60]:
a=200
b=300
print("a") if a > b else print("b is bigger number")

b is bigger number

In [69]:
a=3000
b=4582
print("a is greater") if a>b else print("b")

b

In [72]:
a=400
b=30
if b>a:
    print("b is greater")
elif a==b:
    print("a and b are equal")
else:
    print("b is less than a")

b is less than a

In [85]:
num= int(input("enter the number="))
if num>0:
    print("positive number")
elif num==0:
    print("zero")
else:
    print("negative number")

enter the number=-5
negative number

In [93]:
age= int(input("enter the age= "))
         
height=float(input("enter the height= "))
if age >= 10:
         if height >= 4.5:
              print("siddh can enter the pool")
         else:
              print("height is small")
else:
       print("siddh can not enter the pool")

enter the age= 10
enter the height= 4
height is small

In [112]:
#why output is wrong?
i=10
j=200
k=300
if(i>300 & i<50):
    print("i is a larger number")
elif(j>150 & j<300):
    print("j is proper number")
else:
    print("k is a right number")

i is a larger number

In [114]:
i=1
while i<11 :
    print("python is fun")
    i+=1

python is fun
python is fun
python is fun
python is fun
python is fun
python is fun
python is fun
python is fun
python is fun
python is fun

In [134]:
i=368
while i<3681:
    if i%368==0:
        print(i)
    i+=1

368
736
1104
1472
1840
2208
2576
2944
3312
3680

In [140]:
i=12
j=1
while j<=100:
    print(i,"*",j,"=", j*i)
    j+=10

12 * 1 = 12
12 * 11 = 132
12 * 21 = 252
12 * 31 = 372
12 * 41 = 492
12 * 51 = 612
12 * 61 = 732
12 * 71 = 852
12 * 81 = 972
12 * 91 = 1092

In [144]:
i=5
j=5
while i<=10:
    print(i*j)
    i+=1

25
30
35
40
45
50

In [157]:
i=1
while i<486:
    print(i)
    if (i == 100):
        print("Breaking loop")
        break
    i+=3
print("done")

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97
100
Breaking loop
done

In [183]:
#didn't get
weekSalary=0
day=0
week=['Monday','Tuesday','Wednes','Thurs','Fri','Sat','Sun']
while(True):
  if(week[day]=='Wednes'):
    print("Hey")
    break
  weekSalary+=20
  day+=1
print(str(weekSalary))

Hey
40

In [ ]:
i=1
while i<150:
    print(i)
     i+=10

In [195]:
i=31
while i<60:
    print(i)
    i+=1

31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [197]:
i=10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [226]:
for i in range (10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [33]:
for i in range (2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [47]:
num=2
for i in range(1,11):
    print(num, " X " ,i, "= ", num*i)

2  X  1 =  2
2  X  2 =  4
2  X  3 =  6
2  X  4 =  8
2  X  5 =  10
2  X  6 =  12
2  X  7 =  14
2  X  8 =  16
2  X  9 =  18
2  X  10 =  20

In [49]:
num=int(input("enter a number to write table= "))
for i in range(1,11):
    print(num, " X " ,i, "= ", num*i)

enter a number to write table= 45
45  X  1 =  45
45  X  2 =  90
45  X  3 =  135
45  X  4 =  180
45  X  5 =  225
45  X  6 =  270
45  X  7 =  315
45  X  8 =  360
45  X  9 =  405
45  X  10 =  450

In [53]:
for i in range(1,150,10):
    print(i)

1
11
21
31
41
51
61
71
81
91
101
111
121
131
141

In [58]:
for i in range(10,1):
    print(i)

In [77]:
for i in range(10,1,1):
      print(i)

In [80]:
for i in range(10,1,1):
    print(i)